#This is an example. Rename file to .env and set proper values

#DATABASE
DB_HOST=localhost
DB_PORT=port_number
DB_USER=user
DB_PASSWORD=password
DB_NAME=database_name

#PATHS
FAST_ACQ_1_3GHZ_BIN_ARCHIVE=/path/to/archive
FAST_ACQ_1_3GHZ_FITS_ARCHIVE=/path/to/archive

#APPS SPECIFIC
BIN2FITS_FAST_ACQ_1_3GHZ_LOG_DIR=/path/to/log
BIN2FITS_FAST_ACQ_1_3GHZ_LOG_LEVEL=INFO
BIN2FITS_FAST_ACQ_1_3GHZ_CONSOLE_OUTPUT=TRUE
