#THIS IS AN EXAMPLE. INSERT PROPER VALUES

#DATABASE
DB_HOST=localhost
DB_PORT=port_number
DB_USER=user
DB_PASSWORD=password
DB_NAME=database_name

#PATHS
FAST_ACQ_1_3GHZ_BIN_ARCHIVE=/path/to/archive
FAST_ACQ_1_3GHZ_FITS_ARCHIVE=/path/to/archive

#APPS SPECIFIC
BIN2FITS_FAST_ACQ_1_3GHZ_BASE_DIR="D:\\data\\bin2fits_fast_acq_1_3ghz\\log"
BIN2FITS_FAST_ACQ_1_3GHZ_LOG_LEVEL=WARNING
BIN2FITS_FAST_ACQ_1_3GHZ_CONSOLE_OUTPUT=TRUE
